<div class="description">
    Calculates how much power each of a multitude of different <a href="https://en.wikipedia.org/wiki/Power_station">powerplants</a> need
    to produce (a.k.a. the production-plan) when the <a href="https://en.wikipedia.org/wiki/Load_profile">load</a> is given
    and taking into account the cost of the underlying energy sources (gas,  kerosine) and the Pmin and Pmax of each powerplant.
</div>
<div class="row">
    <div class="col-md-5 text-end">
        <p class="textarea-caption">Input payload</p>
        <textarea id="ppInputPayload" rows="20"></textarea>
    </div>
    <div class="col-md-2 align-self-center text-center">
        <button id="btnSend" class="btn btn-primary" style="vertical-align: middle">Send</button>
    </div>
    <div class="col-md-5 text-left">
        <p class="textarea-caption">Response</p>
        <textarea id="ppResponse" rows="20" readonly="readonly"></textarea>
    </div>
</div>
